spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/text_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
      database: text_db
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      show-sql: true
      properties:
        hibernate:
          format_sql: true
logging:
  config: classpath:log4j.xml
