<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Texts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .table {
            border-radius: 5px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            box-shadow: none;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Information</th>
            <th>Number of Phone</th>
            <th>Email</th>
            <th>Authors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="text : ${texts}">
            <td th:text="${text.id}"></td>
            <td th:text="${text.information}"></td>
            <td th:text="${text.numberOfPhone}"></td>
            <td th:text="${text.email}"></td>
            <td>
                <ul>
                    <li th:each="author : ${text.authors}">
                        <span th:text="${author.firstName}"></span>
                        <span th:text="${author.lastName}"></span>
                        <span th:text="${author.salaries.price}"></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a href="http://localhost:8080/api/v1/text/change_information" class="btn btn-primary">Change article</a>
        <a href="http://localhost:8080/api/v1/text/save_information" class="btn btn-primary">Save article</a>
        <a href="http://localhost:8080/api/v1/text/delete_author_in_text" class="btn btn-primary">Delete author in text</a>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
